## INTRODUCTION
Ford GoBike is a regional public bicycle sharing system in the San Francisco Bay Area, California. Beginning operatoin in August 2013 as Bay Area Bike Share, the Ford GoBike System currently has over 2,600 bicycles in 262 stations across San Francisco, East Bay and San Jose. On June 28, 2017 the system officiall launched as Gord GoBIke in partnership with FOrd Motor Company. The System is expected to expand to 7,000 bicycles around 540 stations in San Francisco, Oakland, Berekely, EmeryVille and San Jose. The System is OPerated by Motivate in a Partnership with the Metropolitan Transporttaion Commission and the  Bay Area Air Quality District. Ford GoBike is the first regional and large-sclae bicycle sharing system deployed in california and on the West Coast of the United States

## DATA WRANGLING

### Gathering Data

In [5]:
# import all packages and set plots to be embedded inline
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import Image

%matplotlib inline

In [22]:
#import the data
data = pd.read_csv('201902-fordgobike-tripdata.csv')
data.head()

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
0,52185,2019-02-28 17:32:10.1450,2019-03-01 08:01:55.9750,21.0,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,13.0,Commercial St at Montgomery St,37.794231,-122.402923,4902,Customer,1984.0,Male,No
1,42521,2019-02-28 18:53:21.7890,2019-03-01 06:42:03.0560,23.0,The Embarcadero at Steuart St,37.791464,-122.391034,81.0,Berry St at 4th St,37.775880,-122.393170,2535,Customer,NaN,NaN,No
2,61854,2019-02-28 12:13:13.2180,2019-03-01 05:24:08.1460,86.0,Market St at Dolores St,37.769305,-122.426826,3.0,Powell St BART Station (Market St at 4th St),37.786375,-122.404904,5905,Customer,1972.0,Male,No
3,36490,2019-02-28 17:54:26.0100,2019-03-01 04:02:36.8420,375.0,Grove St at Masonic Ave,37.774836,-122.446546,70.0,Central Ave at Fell St,37.773311,-122.444293,6638,Subscriber,1989.0,Other,No
4,1585,2019-02-28 23:54:18.5490,2019-03-01 00:20:44.0740,7.0,Frank H Ogawa Plaza,37.804562,-122.271738,222.0,10th Ave at E 15th St,37.792714,-122.248780,4898,Subscriber,1974.0,Male,Yes

### Assessing the data Visually

In [24]:
data.sample(20)

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,member_birth_year,member_gender,bike_share_for_all_trip
6072,955,2019-02-28 11:06:34.8340,2019-02-28 11:22:30.7970,343.0,Bryant St at 2nd St,37.783172,-122.393572,80.0,Townsend St at 5th St,37.775235,-122.397437,5247,Subscriber,1978.0,Male,No
74339,185,2019-02-19 10:51:50.6650,2019-02-19 10:54:55.7040,198.0,Snow Park,37.807813,-122.264496,195.0,Bay Pl at Vernon St,37.812314,-122.260779,6401,Subscriber,1985.0,Male,No
68386,111,2019-02-19 23:13:41.5030,2019-02-19 23:15:33.4830,56.0,Koshland Park,37.773414,-122.427317,86.0,Market St at Dolores St,37.769305,-122.426826,5960,Subscriber,1997.0,Male,No
159725,388,2019-02-05 17:44:39.6220,2019-02-05 17:51:08.4100,321.0,5th St at Folsom,37.780146,-122.403071,81.0,Berry St at 4th St,37.775880,-122.393170,5019,Subscriber,1990.0,Male,No
37861,406,2019-02-23 13:15:07.1770,2019-02-23 13:21:53.7760,60.0,8th St at Ringold St,37.774520,-122.409449,67.0,San Francisco Caltrain Station 2 (Townsend St...,37.776639,-122.395526,4711,Customer,1975.0,Male,No
64298,887,2019-02-20 12:19:30.4030,2019-02-20 12:34:17.4260,259.0,Addison St at Fourth St,37.866249,-122.299371,250.0,North Berkeley BART Station,37.873558,-122.283093,528,Customer,1976.0,Male,No
133625,1247,2019-02-08 18:26:19.2840,2019-02-08 18:47:06.9950,153.0,59th St at Horton St,37.840945,-122.291360,242.0,Milvia St at Derby St,37.860125,-122.269384,5433,Subscriber,1998.0,Female,No
115213,169,2019-02-12 08:56:18.5310,2019-02-12 08:59:07.7400,239.0,Bancroft Way at Telegraph Ave,37.868813,-122.258764,256.0,Hearst Ave at Euclid Ave,37.875112,-122.260553,5144,Subscriber,1996.0,Female,No
65369,403,2019-02-20 09:44:38.6500,2019-02-20 09:51:22.2390,17.0,Embarcadero BART Station (Beale St at Market St),37.792251,-122.397086,50.0,2nd St at Townsend St,37.780526,-122.390288,5556,Subscriber,1988.0,Female,No
120500,519,2019-02-11 16:58:04.7960,2019-02-11 17:06:44.7430,176.0,MacArthur BART Station,37.828410,-122.266315,152.0,47th St at San Pablo Ave,37.835632,-122.281051,4620,Subscriber,1984.0,Male,No
90366,767,2019-02-16 12:46:52.3640,2019-02-16 12:59:40.0600,18.0,Telegraph Ave at Alcatraz Ave,37.850222,-122.260172,245.0,Downtown Berkeley BART,37.870139,-122.268422,6422,Subscriber,1988.0,Male,No
96531,1026,2019-02-15 10:04:47.3520,2019-02-15 10:21:53.5910,85.0,Church St at Duboce Ave,37.770083,-122.429156,284.0,Yerba Buena Center for the Arts (Howard St at ...,37.784872,-122.400876,6142,Customer,1984.0,Male,No
54682,955,2019-02-21 12:05:56.1050,2019-02-21 12:21:52.0220,81.0,Berry St at 4th St,37.775880,-122.393170,81.0,Berry St at 4th St,37.775880,-122.393170,5286,Subscriber,1986.0,Male,No
68376,951,2019-02-19 23:05:40.8500,2019-02-19 23:21:32.3430,93.0,4th St at Mission Bay Blvd S,37.770407,-122.391198,16.0,Steuart St at Market St,37.794130,-122.394430,2002,Subscriber,1981.0,Female,No
25045,899,2019-02-25 17:23:44.2460,2019-02-25 17:38:43.4320,53.0,Grove St at Divisadero,37.775946,-122.437777,16.0,Steuart St at Market St,37.794130,-122.394430,4369,Subscriber,1990.0,Male,No
112306,245,2019-02-12 15:50:34.8620,2019-02-12 15:54:40.4890,243.0,Bancroft Way at College Ave,37.869360,-122.254337,256.0,Hearst Ave at Euclid Ave,37.875112,-122.260553,3532,Subscriber,1999.0,Male,Yes
93675,380,2019-02-15 17:26:41.3000,2019-02-15 17:33:01.4770,163.0,Lake Merritt BART Station,37.797320,-122.265320,200.0,2nd Ave at E 18th St,37.800214,-122.253810,6615,Subscriber,NaN,NaN,No
137172,711,2019-02-08 08:51:35.7640,2019-02-08 09:03:27.4740,76.0,McCoppin St at Valencia St,37.771662,-122.422423,21.0,Montgomery St BART Station (Market St at 2nd St),37.789625,-122.400811,2520,Subscriber,1980.0,Male,No
53640,599,2019-02-21 15:10:57.9530,2019-02-21 15:20:57.6950,23.0,The Embarcadero at Steuart St,37.791464,-122.391034,30.0,San Francisco Caltrain (Townsend St at 4th St),37.776598,-122.395282,6486,Subscriber,1942.0,Male,No
81217,735,2019-02-18 13:42:44.9150,2019-02-18 13:55:00.3960,180.0,Telegraph Ave at 23rd St,37.812678,-122.268773,163.0,Lake Merritt BART Station,37.797320,-122.265320,1435,Subscriber,1969.0,Male,No

In [25]:
#Assess the dataset programatically
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183412 entries, 0 to 183411
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   duration_sec             183412 non-null  int64
 1   start_time               183412 non-null  object
 2   end_time                 183412 non-null  object
 3   start_station_id         183215 non-null  float64
 4   start_station_name       183215 non-null  object
 5   start_station_latitude   183412 non-null  float64
 6   start_station_longitude  183412 non-null  float64
 7   end_station_id           183215 non-null  float64
 8   end_station_name         183215 non-null  object
 9   end_station_latitude     183412 non-null  float64
 10  end_station_longitude    183412 non-null  float64
 11  bike_id                  183412 non-null  int64
 12  user_type                183412 non-null  object
 13  member_birth_year        175147 non-null  float64
 14  member_gender            175147 non-null  object
 15  bike_share_for_all_trip  183412 non-null  object
dtypes: float64(7), int64(2), object(7)
memory usage: 22.4+ MB

In [28]:
#check if duplicates exists
data.duplicated().sum()

0

In [30]:
#View descriptive Statistic of the dataFrame
data.describe()

,duration_sec,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bike_id,member_birth_year
count,183412.000000,183215.000000,183412.000000,183412.000000,183215.000000,183412.000000,183412.000000,183412.000000,175147.000000
mean,726.078435,138.590427,37.771223,-122.352664,136.249123,37.771427,-122.352250,4472.906375,1984.806437
std,1794.389780,111.778864,0.099581,0.117097,111.515131,0.099490,0.116673,1664.383394,10.116689
min,61.000000,3.000000,37.317298,-122.453704,3.000000,37.317298,-122.453704,11.000000,1878.000000
25%,325.000000,47.000000,37.770083,-122.412408,44.000000,37.770407,-122.411726,3777.000000,1980.000000
50%,514.000000,104.000000,37.780760,-122.398285,100.000000,37.781010,-122.398279,4958.000000,1987.000000
75%,796.000000,239.000000,37.797280,-122.286533,235.000000,37.797320,-122.288045,5502.000000,1992.000000
max,85444.000000,398.000000,37.880222,-121.874119,398.000000,37.880222,-121.874119,6645.000000,2001.000000

In [32]:
data.shape

(183412, 16)

#### Quality Issues :

* start_time and end_time are objects not timestamps
* user type, gender and bike_share_for_all_trip can be set to category
* bike_id, start_session_id, end_station_is can be set to object
* we can calculate the age of the user
* we can improve the quality of the data with more columns from the time such as month, daya, hourm week
* we can calculate the distance for rides between stations

#### Cleaning Data

In [34]:
data_clean = data.copy()

##### Define:
`start_time` and `end_time` are objects not timestamps then convert the datatype to datetime
`user type`, `member_gender` and `bike_share_for_all_trip` will be converted to the datatype category
`bike_id`, `start_session_id`, `end_station_is` will be converted to the object datatype

In [36]:
#change datatypes to datetime
data_clean['start_time'] = pd.to_datetime(data_clean['start_time'])
data_clean['end_time'] = pd.to_datetime(data_clean['end_time'])

In [39]:
#change the datatype to category
data_clean['user_type'] = data_clean['user_type'].astype('category')
data_clean['member_gender'] = data_clean['member_gender'].astype('category')
data_clean['bike_share_for_all_trip'] = data_clean['bike_share_for_all_trip'].astype('category')

In [40]:
#change the datatype to object
data_clean['bike_id'] = data_clean['bike_id'].astype('str')
data_clean['start_station_id'] = data_clean['start_station_id'].astype('str') 
data_clean['end_station_id'] = data_clean['end_station_id'].astype('str')

##### Test

In [42]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183412 entries, 0 to 183411
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   duration_sec             183412 non-null  int64
 1   start_time               183412 non-null  datetime64[ns]
 2   end_time                 183412 non-null  datetime64[ns]
 3   start_station_id         183412 non-null  object
 4   start_station_name       183215 non-null  object
 5   start_station_latitude   183412 non-null  float64
 6   start_station_longitude  183412 non-null  float64
 7   end_station_id           183412 non-null  object
 8   end_station_name         183215 non-null  object
 9   end_station_latitude     183412 non-null  float64
 10  end_station_longitude    183412 non-null  float64
 11  bike_id                  183412 non-null  object
 12  user_type                183412 non-null  category
 13  member_birth_year        175147 non-null  float64
 14  member_gender            175147 non-null  category
 15  bike_share_for_all_trip  183412 non-null  category
dtypes: category(3), datetime64[ns](2), float64(5), int64(1), object(5)
memory usage: 18.7+ MB